<table class="user-table">
    <thred>
       <th>#</th>
       <th>Username</th>
       <th>Email</th>
    </thred>

<tbody>
{{#each users}}
<tr>
    <th>{{this.id}}</th>
    <td>{{this.username}}</td>
    <td>{{this.email}}</td>
    <td>
        <a href="#" type="button">View</a>
        <a href="#" type="button">Edit</a>
        <a href="#" type="button">Fire</a>
    </td>
</tr>
{{/each}}
</tbody>
</table>