 q<div class="field">
 <form class="company-form">
  <div>
    <label class="label" for="companyName-select">Company Name:</label>
    <div class="input" type="text" placeholder="Text input"></div>
    <select id="companyName-select" />
    <option value="companyName-input">Select Company</option>
  </div>
    <div class="field">
    <label class="label" for="addressCompany-input">Company Address:</label>
    <div class="control"></div>
    <div class="input" type="text" placeholder="Text input"></div>
    <input type="text" id="addressCompany-input" />
  </div>
    <div>
    <label for="companyNumber-input">Company Number:</label>
    <input type="text" id="companyNumber-input" />
  </div>
    <div>
    <label for="companyTax-input">Company Tax ID:</label>
    <input type="text" id="companyTax-input" />
  </div>
      <div>
    <button type="submit">Submit</button>
  </div>
</form> 

<script src="/javascript/company.js"></script>