<form class="company-form">
  <div>
    <label for="companyName-select">Company Name:</label>
    <select id="companyName-select" />
    <option value="companyName-input">Select Company</option>
  </div>
    <div>
    <label for="addressCompany-input">Company Address:</label>
    <input type="text" id="addressCompany-input" />
  </div>
    <div>
    <label for="companyNumber-input">Company Number:</label>
    <input type="text" id="companyNumber-input" />
  </div>
    <div>
    <label for="companyTax-input">Company Tax ID:</label>
    <input type="text" id="companyTax-input" />
  </div>
      <div>
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/javascript/company.js"></script>