<form class="employee-form">
  <div>
    <label for="company-input">Company:</label>
    <input type="text" id="company-input" />
  </div>
  <div>
    <label for="roleID-input">Role:</label>
    <input type="text" id="roleID-input" />
  </div>
  <div>
    <label for="manager-input">Manager:</label>
    <input type="text" id="manager-input" />
  </div>
  <div>
    <label for="userID-input">User:</label>
    <input type="text" id="userID-input" />
  </div>
    <div>
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/javascript/employee.js"></script>