<section class="has-background-grey-lighter nav-bottom-space"></section>
<section class="has-background-grey-lighter px-5 py-5">
  <div class="title is-size-5">Fill in and submit to Add Employee</div>

<form class="employee-form">
  <div class="field">
    <label class="label"for="company-input">Company</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Text input"
      />
    </div>
  </div>

  <div class="field">
    <label class="label" for="roleID-input">Role</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Please enter a role"
        value=""
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label" for="manager-input">Manager</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Please enter a manager"
        value=""
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label" for="userID-input">User</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="password"
        placeholder="Please enter a user"
        value=""
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
      {{! <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="passworderror help is-danger">This email is invalid</p> }}
    </div>
  </div>


  <div class="field is-grouped my-5">
    <div class="control">
      <button class="button is-dark">Submit</button>
    </div>
    <div class="control">
      <button class="button is-light">Cancel</button>
    </div>
  </div>

  {{! <form class="signup-form is-size-6-mobile">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
    <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
    <div>
    <label for="adress-signup">Address:</label>
    <input type="address" id="address-signup" />
  </div>
    <div>
    <label for="phone-signup">Phone:</label>
    <input type="tel" id="phone-signup" />
  </div>
     <div>
    <label for="tax-signup">Tax ID:</label>
    <input type="number" id="tax-signup" />
  </div>
  <div>
    <button class="button is-dark" type="submit">Sign up</button>
  </div>
</form> }}
</form>
</section>


{{!-- <form class="employee-form">
  <div>
    <label for="company-input">Company:</label>
    <input type="text" id="company-input" />
  </div>
  <div>
    <label for="roleID-input">Role:</label>
    <input type="text" id="roleID-input" />
  </div>
  <div>
    <label for="manager-input">Manager:</label>
    <input type="text" id="manager-input" />
  </div>
  <div>
    <label for="userID-input">User:</label>
    <input type="text" id="userID-input" />
  </div>
    <div>
    <button type="submit">Submit</button>
  </div>
</form> --}}

<script src="/javascript/employee.js"></script>