<section class="has-background-grey-lighter nav-bottom-space"></section>
<section class="has-background-grey-lighter px-5 py-5">
  <div class="title is-size-5">Fill in and submit to Add Jobs</div>

<form class="job-form">
  <div class="field">
    <label class="label" for="company-choice">Company Name:</label>
    <div class="control">
      <select type="select" placeholder="Text input" id="company-choice">
        {{#each company}}
        <option value="{{this.id}}">
              {{this.name}}
        </option>
      {{/each}}
      </select>
    </div>
  </div>



<form class="job-form">
  <div class="field">
    <label class="label" for="job-input">New Job Title:</label>
   
   <input class="input" id="job-input" placeholder="Cleaned the dishes" />
     

  </div>

  <form class="job-form">
  <div class="field">
    <label class="label"for="hourly-rate">Hourly Rate:</label>
    <div class="control">
      <input
        class="input"
        id="hourly-rate"
        type="text"
        placeholder="15.00"
      />
    </div>
  </div>

   <div class="field is-grouped my-5">
    <div class="control">
      <button class="button is-dark">Submit</button>
    </div>
    <div class="control">
      <button class="button is-light">Cancel</button>
    </div>
  </div>
</form>
</section>

<script src="/javascript/job.js"></script>