<section class="has-background-info-light"></section>
<form class="role-form">
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="columns">
    <div class="column is-half">

      <div class="title is-size-5 mt-3">Fill in and submit to Add Roles</div>

      <div class="role-form">
        <div class="field">
          <label class="label" for="company-choice">Company Name:</label>
          <div class="control">
            <select type="select" id="company-choice">
              {{#each company}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label" for="role-name">New Role</label>
          <div class="control">
            <input
              class="input"
              type="text"
              placeholder="Entrepreneur"
              id="role-name"
            />
          </div>
        </div>

        <div class="field is-grouped my-5">
          <div class="control">
            <button class="button is-dark">Submit</button>
          </div>
          <div class="control">
            <button class="button is-light">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<script src="/javascript/role.js"></script>