<form class="role-form">
  <div>
    <label for="company-ID">Company:</label>
    <input type="text" id="company-ID" />
  </div>
  <div>
    <label for="role-name">New Role</label>
    <input type="text" id="role-name" />
  </div>    
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
  
<script src="/javascript/role.js"></script>