<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <label for="address-signup">Address:</label>
    <input type="adress" id="address-signup" />
  </div>
   <div>
    <label for="number-signup">Phone Number:</label>
    <input type="tel" id="address-signup" />
  </div>
    <div>
    <label for="ssn-signup">SSN:</label>
    <input type="adress" id="address-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>
