<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="hero-body is-align-items-stretch">
    <section>

      <div class="company"></div>
      <div class="title employee is-size-4" role="employee">Role:
        <span class="is-size-6">Employee</span></div>

      <div class="title is-size-5 mt-3 mb-1">Select:</div>
      <div class="is-size-4 pb-2">
        <a href="/task"><button
            class="button is-dark is-large"
          >Work</button></a>
      </div>
      <div class="is-size-4 pb-5">
        <a href="/paycheck"><button class="button is-dark is-large">View
            Paycheck</button></a>
      </div>
    </section>
  </div>
</section>