<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="company"></div>

<div class="employee" role="employee">Role: Employee</div>
<nav>
    <ul>
    <li>
       <a href="/task">Work</a> 
    </li>
    <li>
        <a href="/paycheck">View Paycheck</a> 
    </li>
    </ul>
</nav>
