<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="company"></div>

<div class="employee is-size-3" role="employee">Role: Employee</div>
<nav>
    <ul>
    <li class="is-size-4 pt-5 pl-5">
       <a href="/task">Work</a> 
    </li>
    <li class="is-size-4 pt-5 pl-5">
        <a href="/paycheck">View Paycheck</a> 
    </li>
    </ul>
</nav>
