<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="hero-body is-align-items-stretch">
    <section>
      <header class="card-header">
        {{#each name}}
          <p class="card-header-title">
            #
            {{this.id}}
            -
            {{this.name}}
          </p>
        {{/each}}
      </header>

      <div class="title is-size-5"></div>

      <div class="company"></div>

      <div class="entrepreneur title is-size-4" role="entrepreneur">Role:
        <span class="is-size-6">Entrepreneur</span>
      </div>
      <div class="title is-size-5 mt-3 mb-1">Select:</div>

      <div class="is-size-4 pt-2">
        <a href="/manage" class="manage-employees">
          <button class="button is-dark is-large">Manage All Employees</button></a>
      </div>
      <div class="is-size-4 pt-5">
        <a href="/addemployee" class="manage-employees">
          <button class="button is-dark is-large">Assign Roles</button></a>
      </div>

      <div class="is-size-4 pt-5">
        <a href="/addjobs" class="add-jobs"><button
            class="button is-dark is-large"
          >Add Jobs</button></a>
      </div>
      <div class="is-size-4 pt-5">
        <a href="/addrole" class="add-role"><button
            class="button is-dark is-large"
          >Add Roles</button></a>
      </div>

    </section>
  </div>

</section>