<div class="signed-in">
    <h1>Signed in as:</h1>
</div>

<div class="company"></div>

<div role="entrepreneur">Role: entrepreneur</div>

<div class="manage-hours"></div>


<div class="manage-employees"></div>


<div class="add-job"></div>

<div class="add-role"></div>


