<div class="signed-in">
   {{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="company"></div>

<div role="entrepreneur">Role: entrepreneur</div>

<nav>
    <ol>
        <li>
        <a href="/manage" class="manage-employees"> Manage Employees</a>
        </li>
        <li>
            <a href="/addjobs" class="add-jobs">More Jobs</a>
        </li>
         <li>
            <a href="/addrole" class="add-role">More Roles</a>
        </li>
    </ol>
</nav>










