<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        <p class="title bd-notification is-info has-text-black">
          Time tracking made simple.</p>
        <div class="columns is-mobile">
          <div class="column is-half">
            <p class="bd-notification is-info">
              <div class="description has-text-black is-size-6-mobile subtitle">
                Are you looking for an easy way to track your payroll? Look no
                futher, whether you are a small business, entrepreneur, or even
                a big time company. We've got the software you need. You can
                track, manage, and even pay your employees just from here!

              </div></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{{!-- <div class="signed-in">
    {{#if loggedIn}}
      <h1>Currently Signed in as: {{name}}</h1>
      <h1>Currently in as: {{role}}</h1>
      <h1>Currently in as: {{company}}</h1>
      {{#if role}}
        <a href="/entrepreneur">Test</a>
      {{/if}}
    {{/if}}

  </div> --}}