<div class="signed-in">
{{#if loggedIn}}
<h1>Currently Signed in as: {{name}}</h1>
<h1>Currently in as: {{role}}</h1>
<h1>Currently  in as: {{company}}</h1>
{{/if}}


</div>





<div class="description">
    <h1>What is time 2 work?</h1>
    <p>Are you looking for an easy way to track your payroll?
        Look no futher, whether you are a small business, entrepreneur, 
        or even a big time company. We've got the software you need.
        You can track, manage, and even pay your employees just from here!
    </p>
</div>


