<section class="has-background-info-light"></section>
<form class="login-form">
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="columns">
    <div class="column is-half">
      <div class="title is-size-5 mt-3">Login:</div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="text"
            placeholder="Please enter a email"
            value=""
            id="email-login"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input
            class="input"
            type="password"
            placeholder="Please enter your password"
            value=""
            id="password-login"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
          {{! <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="passworderror help is-danger">This email is invalid</p> }}
        </div>
      </div>

          <div class="field is-grouped my-5">
            <div class="control">
              <button class="button is-dark">Submit</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<script src="/javascript/login.js"></script>
