<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="paycheck is-size-5 pl-5 pt-5">
    <table class="pay-table table is-bordered is-striped" >
    <thred>
       <th>Job</th>
       <th>Hours</th>
       <th>Total</th>
    </thred>

<tbody>
{{#each timelogs}}
<tr>
    <th>{{this.job.job}}</th>
    <td>{{this.minutes_worked}}</td>
    <td></td>
</tr>
{{/each}}

</tbody>
</table>
</div>
