<div class="signed-in">
{{#if loggedIn}}
<h1>Currently Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="paycheck is-size-5 pl-5 pt-5">
    <table class="pay-table table is-bordered is-striped" >
    <thred>
       <th>Job</th>
       <th>Hours</th>
       <th>Rate</th>
       <th>pay</th>
    </thred>

<tbody>
{{#each timelogs}}
<tr>
    <td>{{this.job.job}}</td>
    <td>{{this.minutes_worked}}</td>
    <td></td>
    <td></td>
</tr>  
{{/each}}
<tr>
    <td></td>
    <td></td>
    <td style="font-weight: bold;">Total:</td>
    <td></td>
</tr>
</tbody>
</table>
</div>

