<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="paycheck">
    <table class="pay-table">
    <thred>
       <th>#</th>
       <th>Username</th>
       <th>Jobs</th>
       <th>H</th>
       <th>M</th>
       <th>Total</th>
    </thred>

<tbody>

<tr>
    <th></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

</tbody>
</table>
</div>
