<section class="has-background-info-light"></section>
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
<div class="signed-in">
{{#if loggedIn}}
<h1>Currently Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="paycheck is-size-5 pl-5 pt-5">
    <table class="pay-table table is-bordered is-striped" >
    <thred>
       <th>Job</th>
       <th>Minutes</th>
    </thred>

<tbody>
{{#each timelogs}}
<tr>
    <td>{{this.job.job}}</td>
    <td>{{this.minutes_worked}}</td>

</tr>  
{{/each}}

</tbody>
</table>
</div>
</section>
