<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="hero-body is-align-items-stretch">

    <form class="employeeset-form">
      <div class="title is-size-5 mt-3">New user role instructions</div>
      <div class="employeeset-form">
        <div class="field">
          <label class="label" for="company-input">Company:</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="company-input"
              readonly
              value="1"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Role:</label>
          <div class="control">
            <div class="select">
              <select id="roleID-input">
                {{#each roles}}
                  <option data-id="{{this.id}}" value="{{this.id}}">
                    {{this.role_name}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="manager-input">Manager:</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="manager-input"
              readonly
              value="1"
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="userID-input">User:</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="userID-input"
              readonly
              value="{{uid}}"
            />
          </div>
        </div>

        <div class="field is-grouped my-5">
          <div class="control">
            <button
              class=".signup-form button is-dark"
              type="submit"
            >Submit</button>
          </div>
        </div>
        <h1>THIS REQUIRES A RELOG AFTER SUBMITTING FOR ROLE TO TAKE EFFECT!</h1>
        <h2>Click submit and logout at the top right and log back in!</h2>
      </div>

    </form>
  </div>
</section>
<script src="/javascript/employeeset.js"></script>