<section class="has-background-info-light"></section>
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="columns">
    <div class="column is-half">

      <div class="title is-size-5 mt-3">Fill in and submit to sign-up</div>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Please enter your full name"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Please enter a username"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="password"
            placeholder="Please enter a password"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="hello@time2work.com"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="1234 Happy Circle, Happyville CA 12345"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fa-solid fa-location-dot"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Phone Number</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="tel"
            placeholder="(555)555-5555"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fa-solid fa-phone"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Tax-ID (SSN/EIN)</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="9999999999" value="" />
          <span class="icon is-small is-left">
            <i class="fa-solid fa-fingerprint"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Role:</label>
        <div class="control">
          <div class="select is-dark">
            <select>
              <option>Employee</option>
              <option>Manager</option>
              <option>Owner</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Please select the company:</label>
        <div class="control">
          <div class="select is-dark">
            <select>
              <option>ABC</option>
              <option>Company2</option>
              <option>ThirdCo</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped my-5">
        <div class="control">
          <button class="button is-dark">Submit</button>
        </div>
        <div class="control">
          <button class="button is-light">Cancel</button>
        </div>
      </div>

    </div>
  </div>
</section>

<script src="/javascript/create.js"></script>