<section class="has-background-grey-lighter nav-bottom-space"></section>
<section class=" has-background-grey-lighter px-5 py-5">
  <form class="signup-form">
  <div class="title is-size-5">Fill in and submit to Sign-up</div>

<div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="Please enter a username"
        value=""
        id="username-signup"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>



  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="email"
        placeholder="hello@time2work.com"
        value=""
        id="email-signup"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  

  <div class="field">
    <label class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="password"
        placeholder="Please enter a username"
        value=""
        id="password-signup"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
      {{! <span class="icon is-small is-right">
<section class="has-background-info-light"></section>
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="columns">
    <div class="column is-half">

      <div class="title is-size-5 mt-3">Fill in and submit to sign-up</div>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Please enter your full name"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="Please enter a username"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="password"
            placeholder="Please enter a username"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          {{! <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="passworderror help is-danger">This email is invalid</p> }}
<<<<<<< HEAD
    </div>
  </div>

    <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Please enter your full name"
        id="name-signup"
      />
    </div>
  </div>


  <div class="field">
    <label class="label">Address</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input"
        type="text"
        placeholder="1234 Happy Circle, Happyville CA 12345"
        value=""
        id="address-signup"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Phone Number</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="tel" placeholder="(555)555-5555" value="" 
      id="phone-signup"/>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Tax-ID (SSN/EIN)</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="9999999999" value="" id="tax-signup"/>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  

  <div class="field is-grouped my-5">
    <div class="control">
      <button class="button is-dark">Submit</button>
    </div>
    <div class="control">
      <button class="button is-light">Cancel</button>
    </div>
  </div>
</form>
=======
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="email"
            placeholder="hello@time2work.com"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="text"
            placeholder="1234 Happy Circle, Happyville CA 12345"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Phone Number</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input"
            type="tel"
            placeholder="(555)555-5555"
            value=""
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Tax-ID (SSN/EIN)</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="9999999999" value="" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Role:</label>
        <div class="control">
          <div class="select is-dark">
            <select>
              <option>Employee</option>
              <option>Manager</option>
              <option>Owner</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Please select the company:</label>
        <div class="control">
          <div class="select is-dark">
            <select>
              <option>ABC</option>
              <option>Company2</option>
              <option>ThirdCo</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped my-5">
        <div class="control">
          <button class="button is-dark">Submit</button>
        </div>
        <div class="control">
          <button class="button is-light">Cancel</button>
        </div>
      </div>

      {{! <form class="signup-form is-size-6-mobile">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
    <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
    <div>
    <label for="adress-signup">Address:</label>
    <input type="address" id="address-signup" />
  </div>
    <div>
    <label for="phone-signup">Phone:</label>
    <input type="tel" id="phone-signup" />
  </div>
     <div>
    <label for="tax-signup">Tax ID:</label>
    <input type="number" id="tax-signup" />
  </div>
  <div>
    <button class="button is-dark" type="submit">Sign up</button>
  </div>
</form> }}

    </div>
  </div>
>>>>>>> ee317f6c9e3d9ecb2f96f9520df369d1dd6a92bb
</section>

<script src="/javascript/create.js"></script>