<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
    <div>
    <label for="name-signup">Name:</label>
    <input type="text" id="name-signup" />
  </div>
    <div>
    <label for="adress-signup">Address:</label>
    <input type="address" id="address-signup" />
  </div>
    <div>
    <label for="phone-signup">Phone:</label>
    <input type="tel" id="phone-signup" />
  </div>
     <div>
    <label for="tax-signup">Tax ID:</label>
    <input type="number" id="tax-signup" />
  </div>

    <button class="submit" type="submit">Sign up</button>
  </div>
</form>

<script src="/javascript/create.js"></script>
