<div class="signed-in">
    {{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>
<form class="jobs">
    <h1>Jobs you completed today</h1>
    <label for="job-input">Job you completed:</label>
    <input type="text" id="job-input" />  
    <label for="hours-input">Hours:</label>   
    <input type="text" id="hours-input" /> 
    <label for="minutes-input">Minutes:</label>
    <input type="text" id="minutes-input" /> 
    <button type="submit" class="job-btn-submit">Submit</button>
</form>