<div class="signed-in pl-5 pt-4">
    {{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="company"></div>

<div role="team-lead" class="is-size-5 pl-5 pt-4">Role: Team Leader</div>

<div class="manage-hours"></div>

<div class="manage-employees pl-5 pt-4">
    <table class="user-table table is-bordered is-striped">
    <thred>
       <th>#</th>
       <th>User</th>
       <th>Role</th>
 
     
    </thred>

<tbody>
{{#each employees}}
<tr>
    <th>{{this.user_id}}</th>
    <td>{{this.user.name}}</td>
    <td>{{this.role.role_name}}</td>


</tr>
{{/each}}
</tbody>
</table>
</div>
