<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="hero-body is-align-items-stretch">
    <section class="">
      {{!-- <div class="signed-in pl-5 pt-4">
        {{#if loggedIn}}
          <h1>Currently Signed in as: {{name}}</h1>
        {{/if}}
      </div> --}}

      <div class="company"></div>

      <div role="team-lead" class="title is-size-5 mt-3">
        Role:
        <span class="is-size-6">Team Leader</span>
      </div>

      <div class="field is-grouped">
        <div class="control is-size-4 pl-5">
          <a href="/task">
            <button class="button is-dark is-medium">Work</button></a>
        </div>

        <div class="control is-size-4 pl-5">
          <a href="/paycheck">
            <button class="button is-dark is-medium mb-3">View Paycheck</button></a>
        </div>
      </div>
      <div class="title is-size-5 mt-6">Team:</div>
      <div class="manage-employees pl-5">
        <table class="user-table table is-bordered is-striped">
          <thred>
            <th>#</th>
            <th>User</th>
            <th>Role</th>

          </thred>

          <tbody>
            {{#each employees}}
              <tr>
                <th>{{this.user_id}}</th>
                <td>{{this.user.name}}</td>
                <td>{{this.role.role_name}}</td>

              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</section>