* {
    box-sizing: border-box;
}


body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: black;
  
}

.header-image {
 
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


.title {
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 30px;
    text-align: center;
    font-size: 55px;

}

a {
    color: black;
    text-decoration: none;

}

a:hover {
    color: green;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 25px;
  }
  
  .signup-form {
    margin: 5px;;
    width: 10%;
    border: 15px ;
    padding: 10px;
    font-size: 25px;
    
  }

  nav {
    padding: 2%;
    font-size: 25px;
  }

  .submit {
    border-radius: 8px;
    font-size: 20px;
    color: black;
    background-color: greenyellow;
  }
  
  .login-form {
    margin: 5px;;
    width: 10%;
    border: 15px ;
    padding: 10px;
    font-size: 25px;
  }

  footer {
    font-size: 25px;
    padding-top: 170px;
  }
  
/* media quiries */

@media screen and (max-width: 1700px) {
 
}

@media screen and (max-width: 980px) {
 
}

@media screen and (max-width: 768px) {
  body, html {
 
 
  }
}

@media screen and (max-width:575px) {

  
}